.dropdown {
  max-width: 320px;
  width: 100%;
  &__wrapper {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .button__wrapper {
    position: relative;
  }

  &__label {
    font-size: 11px;
    padding: 0px 4px;
    position: absolute;
    top: -2px;
    left: 15px;
    color: #9761bb;
    background-color: #c3a2ee;
    z-index: 5;
    transition: all ease 0.5s;
    font-weight: 500;
  }

  &__user {
    object-fit: cover;
    position: absolute;
    top: 12px;
    left: 15px;
    width: 20px;
    height: 20px;
    z-index: 5;
  }

  &__button {
    width: 100%;
    border-radius: 4px;
    padding: 12px 28px 10px 15px;
    background-color: #c3a2ee;
    border: 2px solid #9761bb;
    color: #222121;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all ease 0.5s;
    margin-bottom: 2px;
    &:focus,
    &:hover {
      border: 2px solid #e4c6f8;
    }

    &:hover + .dropdown__label,
    &:focus + .dropdown__label {
      color: #e4c6f8;
    }

    &::before {
      position: absolute;
      content: "";
      border: 5px solid transparent;
      border-top: 5px solid #a545e6;
      top: 17px;
      right: 12px;
    }
  }

  &__list {
    background-color: #ffffff;
    border: 1px solid #f3f2f2;
    border-radius: 4px;
    font-size: 14px;
    display: none;
    position: absolute;
    transition: all ease 0.3s;

    &.active {
      display: block;
      z-index: 10;
      width: 270px;
    }
  }

  &__list--item {
    padding: 0 10px;
    color: #131414;
    width: 100%;
    height: 30px;
    cursor: pointer;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:first-child {
      margin-top: 6px;
    }

    &:last-child {
      margin-bottom: 6px;
    }

    &:hover {
      background-color: #eccefa;
    }
  }

  .button__wrapper {
    position: relative;

    .user__image {
      width: 20px;
      height: 20px;
      object-fit: cover;
    }
  }
}
