.inputs__list {
  padding: 0px 25px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  width: 100%;
  margin-bottom: 15px;

  .input__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .input__label {
    font-size: 11px;
    padding: 0px 3px;
    position: absolute;
    top: -2px;
    left: 8px;
    font-weight: 500;
    color: #9761bb;
    background-color: #ffffff;
    z-index: 5;
    transition: all ease 0.5s;
  }

  .input {
    border: 2px solid #9761bb;
    width: 90px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    padding-left: 14px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: all ease 0.5s;
    outline: none;
    
    &:focus,
    &:hover {
      border: 2px solid #cea6f7;
    }

    &:hover + .input__label,
    &:focus + .input__label {
      color: #cea6f7;
    }
  }

  .input__salary {
    font-weight: 500;
    font-size: 13px;
  }
}

.dropdown__wrapper {
  background-color: #c3a2ee;
  padding: 30px 25px 20px 25px;
  display: grid;
  gap: 15px;
  margin-bottom: 14px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  padding: 30px 20px;
  background-color: #c3a2ee;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 150px);
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #222121;
}

.total__hours,
.total__salary {
  display: flex;
  justify-content: space-between;
}

.loading__image {
  object-fit: cover;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
